[Unit]
Description=MySQL slave healthcheck agent
After=network.target

[Service]
ExecStart=/usr/bin/mysql-slave-healthcheck-agent --port 3307 --max-seconds-behind-master 300
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target
