[Unit]
Description=MySQL replica healthcheck agent
After=network.target

[Service]
ExecStart=/usr/bin/mysql-replica-healthcheck-agent
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target
